<header
        class="sticky top-0 w-screen backdrop-filter backdrop-blur-lg"
        xmlns:x-on="http://www.w3.org/1999/xhtml"
        xmlns:x-bind="http://www.w3.org/1999/xhtml"
>
    <div class="max-w-6xl mx-auto flex justify-end p-2 gap-3">
        <nav class="gap-3 hidden sm:flex">
            <a href="/" class="btn-v1">
                <span>На сайт</span>
            </a>
            <button x-on:click="setSection('home')" class="btn-v1">
                <span>Главная</span>
            </button>
            <button x-on:click="setSection('form')" class="btn-v1 flex justify-center items-center gap-1.5">
                <span>Формы</span>
                <!--<span class="py-[3.7px] px-[8px] bg-gray-900 dark:bg-white !text-white dark:!text-gray-900 rounded-full !text-xs inline-flex justify-center items-center"></span>-->
            </button>
        </nav>

        <button class="btn-v2" x-on:click="setTheme">
            <svg
                    x-show="theme === 'light'"
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor" class="size-5"
            >
                <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M21.752 15.002A9.72 9.72 0 0 1 18 15.75c-5.385 0-9.75-4.365-9.75-9.75 0-1.33.266-2.597.748-3.752A9.753 9.753 0 0 0 3 11.25C3 16.635 7.365 21 12.75 21a9.753 9.753 0 0 0 9.002-5.998Z"
                />
            </svg>
            <svg
                    x-show="theme === 'dark'"
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    class="size-5"
            >
                <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M12 3v2.25m6.364.386-1.591 1.591M21 12h-2.25m-.386 6.364-1.591-1.591M12 18.75V21m-4.773-4.227-1.591 1.591M5.25 12H3m4.227-4.773L5.636 5.636M15.75 12a3.75 3.75 0 1 1-7.5 0 3.75 3.75 0 0 1 7.5 0Z"
                />
            </svg>
        </button>

        <button class="btn-v2 block sm:hidden" x-on:click="setSidebar">
            <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    class="size-5"
            >
                <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"/>
            </svg>
        </button>
    </div>

    <div x-bind:class="sidebar ? 'left-0' : 'left-[-100%]'"
         class="block sm:hidden fixed  top-0 w-screen h-screen bg-white p-2 transition-all">
        <div class="flex justify-end">
            <button class="btn-v2 mr-0 ml-auto" x-on:click="setSidebar">
                <svg
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke-width="1.5"
                        stroke="currentColor"
                        class="size-5"
                >
                    <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12"/>
                </svg>
            </button>
        </div>
        <div class="flex flex-col gap-6 pt-16 px-4">
            <a href="/" class="btn-v1">
                <span>На сайт</span>
            </a>
            <button x-on:click="setSection('form')" class="btn-v1">
                <span>Главная</span>
            </button>
            <button x-on:click="setSection('form')" class="btn-v1">
                <span>Формы</span>
            </button>
        </div>
    </div>
</header>