<dialog
        data-modal="form"
        class="dialog hidden justify-center items-center"
>
    <form id="form" class="form w-full sm:w-[500px]">
        <header>
            <h3>Форма для сообщение</h3>
        </header>
        <div>
            <label for="name">Имя: <span>*</span></label>
            <input id="name" name="name" type="text">
            <div data-error="name"></div>
        </div>
        <div>
            <label for="category">Категория: <span>*</span></label>
            <div id="category" data-select="category"></div>
            <div data-error="category"></div>
        </div>
        <div>
            <label for="telegram">Telegram: <span>*</span></label>
            <input id="telegram" name="telegram" type="text">
            <div data-error="telegram"></div>
        </div>
        <div>
            <label for="message">Сообщение: </label>
            <textarea id="message" name="message" cols="30" rows="10"></textarea>
            <div data-error="message"></div>
        </div>
        <footer>
            <button data-close-modal="form" data-reset>
                <span>Отмена</span>
            </button>
            <button type="submit">
                <span>Отправить</span>
            </button>
        </footer>
        <div class="success-text">Сообщение успешно отправлено, ожидайте обратной связи. Спасибо!</div>
    </form>
</dialog>