<section class="mt-20 md:mt-24 max-w-6xl mx-auto pb-16 text-center flex flex-col items-center">
    <h1 class="text-3xl font-extrabold text-center lg:text-3xl 2xl:text-4xl">
        <span class="text-transparent bg-gradient-to-br bg-clip-text from-teal-500 via-indigo-500 to-sky-500 dark:from-teal-200 dark:via-indigo-300 dark:to-sky-500">
            Приветствую!
        </span>
        <br>
        <span class="text-transparent bg-gradient-to-tr bg-clip-text from-blue-500 via-pink-500 to-red-500 dark:from-sky-300 dark:via-pink-300 dark:to-red-500">
            Меня зовут Канимет.
        </span>
    </h1>

    <p class="mt-8 mb-8 max-w-xl text-gray-500 dark:text-gray-300 text-justify">
        Мне 22 года. Я Fullstack разработчик с более чем трехлетним опытом в IT, на данный момент считаю себя <b>Strong
        Junior</b> разработчиком. В данный момент работаю в True IT.
        Коммерческий опыт 1 год 4 месяца в 3 компаниях. Кроме того, участвовал в разработке MVP. Также принимал
        заказы на разработку сайтов (backend, frontend).
    </p>

    <button class="btn-v1" data-open-modal="form">
        <span>Отправить сообщение</span>
    </button>
</section>